p{
    color:brown;
    line-height: 30px;
}
body{
    text-align:center;
    background-color: wheat;
}
h1{
    color:red;
    font-family:Georgia;
    text-decoration:underline;
}

h3{
    color:black;
}

a{
    color: rgb(24, 199, 24);
    text-decoration: none;
}

button{
    background-color: rgb(255, 255, 255);
    color:blueviolet;
    border:none;
}
textarea{
    color: #000000;
}
